# dependencies
node_modules
.pnpm-store

# next.js
.next
out
build
dist

# env
.env*.local
.env.local

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# misc
.DS_Store
*.pem
.vercel
.idea
.vscode/*
!.vscode/settings.json

# typescript
*.tsbuildinfo
next-env.d.ts.bak

# supabase
supabase/.branches
supabase/.temp
